* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg: #146b3a;
    --main: #EA4630;
    --contrast: #F8B229;
}

body {
    background-color: var(--bg);
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN */

.login {
    width: 50vw;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--main);
    color: white;
}

.login h1 {
   text-align: center;
}

.login form {
    width: 80%;
    max-width: 200px;
    margin: auto;
}

.login input, .login label {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 3px;
}

.login input[type="text"] {
    padding: 2px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.login input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg);
    color: white;
    width: 100px;
}

/* UPLOAD */

.upload {
    width: 80vw;
    height: 80vh;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--main);
    color: white;
    display: flex;
    flex-direction: column;
}

.upload h1 {
    text-align: center;
}

.uploadGrid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
}

.uploadedImg {
    margin: 10px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.uploadButton {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg);
    color: white;
    width: 100px;
    margin: auto;
    font-size: 1.2em;
}

